@import url("fonts.css");
@import url("variavel-global.css");


* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background-color-branco);
}

/* Cabeçalho */
.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height:  var(--altura-header);
  background-color: var(--header-background-color-rosa);
  padding: 0 24px;
  font-family: var(--font-family-droidserif), serif;
  box-shadow: 5px 1px 5px black;
  z-index: 10;
}

.nome-psi {
  font-family: var(--font-family-malibu);
  font-size: 44px;
}

.navegacao-pagina {
  height: 100%;
}

.navegacao-pagina ul {
  display: flex;
  height: 100%;
}

.navegacao-pagina li {
  height: 100%;
  padding: 0 6px;
  margin-right: 10px;
}

.navegacao-pagina li:hover {
  background-color: var(--cor-rosa-escuro);
}

.navegacao-pagina a {
  display: block;
  width: 100%;
  height: 100%;
  color: black;
  line-height: var(--altura-header);
  text-transform: uppercase;
  text-decoration: none;
}

.navegacao-pagina li:hover a {
  color: var(--cor-branco);
}

/* Conteudo geral da pagina */

.conteudo-pagina {
  display: block;
}

.secoes-pagina {
  position: relative;
  top: var(--altura-header);
  width: 100%;
  min-height: 600px;
}

.secao-pagina {
  width: 100%;
  min-height: 680px;
  font-family: var(--font-family-droidserif), serif;
  margin-bottom: 4px;
}

.invertido {
  flex-direction: row-reverse;
}

.secao-pagina div {
  display: flex;
}

.secao-pagina div p {
  padding: 8px;
}

.secao-pagina div p:first-child {
  margin-right: 8px;
}

/* Seção de inicial */

.secao-inicial h1 {
  display: none;
}

.secao-inicial-img-home {
  position: relative;
}

.secao-inicial-figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.secao-inicial-figcaption-texto-um {
  display: block;
  width: 400px;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  font-weight: 400;
  color: var(--cor-branco);
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  border-radius: 14px;
  background-color: var(--cor-rosa-escuro);
}

.secao-inicial-figcaption-texto-dois {
  flex-direction: column;
  align-items: end;
  width: 400px;
  height: 60px;
  line-height: 26px;
  margin-top: 20px;
}

.secao-inicial-figcaption-texto-dois strong {
  color: var(--cor-branco);
  padding: 2px 1px;
  background-color: var(--cor-rosa-escuro);
}

.img-inicial {
  width: 100%;
}

/* Seção Sintomas */

.secao-sintomas {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: var(--header-background-color-rosa);
}

.secao-sintomas-img img {
  width: 100%;
}

.secao-sintomas h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 6px;
}

.secao-sintomas h2 strong {
  color: var(--cor-rosa-escuro);
}

.secao-sintomas h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 24px;
}

.secao-sintomas h4 {
  font-size: 32px;
  font-weight: 700;
  color: var(--cor-rosa-escuro);
  text-align: center;
  margin-top: 40px;
}

.secao-sintomas .secao-sintomas-precisa-desenvolver {
  justify-content: center;
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}

.secao-sintomas-precisa-desenvolver span {
  line-height: 60px;
  padding: 4px;
  font-size: 20px;
  margin-right: 8px;
  background-color: var(--cor-rosa-escuro);
}

/* Quem eu sou */
.secao-quem-eu-sou {
  background-color: var(--header-background-color-rosa);
}

.secao-quem-eu-sou figure {
  display: flex;
}

.secao-quem-eu-sou figcaption {
  padding: 0 26px;
}

.secao-quem-eu-sou img {
  height: 680px;
}

.lista-nao-ordenada-quem-eu-sou {
  list-style: inside;
  margin: 24px 0;
}

.lista-nao-ordenada-quem-eu-sou li {
  line-height: 28px;
}

.secao-quem-eu-sou h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: var(--cor-rosa-escuro);
  margin: 36px 0;
}

.secao-quem-eu-sou h3 {
  line-height: 24px;
}

/* Seção de formação */

.secao-areas-que-trabalho {
  display: flex;
  flex-direction: row-reverse;
}

.secao-areas-que-trabalho .secao-areas-que-trabalho-titulo {
  width: 20%;
  align-items: center;
  padding: 0 32px;
  color: var(--cor-branco);
  background-color: var(--cor-rosa-escuro);
}

.secao-areas-que-trabalho-titulo h2 {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.secao-areas-que-trabalho .container-secao-areas-que-trabalho {
  flex-wrap: wrap;
  width: 80%;
  padding: 24px;
  background-color: var(--header-background-color-rosa);
}

.container-secao-areas-que-trabalho div {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container-secao-areas-que-trabalho span {
  width: 280px;
  font-size: 20px;
  color: var(--cor-branco);
  padding: 10px;
  text-align: center;
  background-color: var(--cor-rosa-escuro);
}

/* seção Abordagem Terapeutica */

.secao-abordagem-terapeutica h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.secao-abordagem-terapeutica figcaption {
  line-height: 24px;
}

.lista-ordenada-abordagem {
  list-style: inside;
  list-style-type: decimal;
  margin-top: 18px;
}

.lista-ordenada-abordagem li {
  font-weight: 700;
}

.lista-nao-ordenada-abordagem li {
  padding: 12px 20px;
  font-weight: 400;
}

/* secao metodologia de trabalho */

.secao-metodologia-de-trabalho {
  display: flex;
  flex-direction: column;
  background-color: var(--header-background-color-rosa);
}

.secao-metodologia-de-trabalho h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: var(--cor-rosa-escuro);
  margin-top: 40px;
  margin-bottom: 8px;
}

.secao-metodologia-de-trabalho h3 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 28px;
}

.container-lista-ordenada-metodologia-de-trabalho {
  position: relative;
  margin-bottom: 28px;
}

.lista-ordenada-metodologia-de-trabalho {
  display: flex;
  margin: 0 auto;
  list-style: inside;
  list-style-type: decimal;
  counter-reset: contador;
  z-index: 5;
}

.lista-ordenada-metodologia-de-trabalho li {
  font-weight: bold;
  color: var(--cor-rosa-escuro);
  margin-right: 16px;
}

.lista-ordenada-metodologia-de-trabalho li::marker {
  z-index: 5;
}

.lista-nao-ordenada-metodologia-de-trabalho li {
  position: relative;
  display: flex;
  align-items: center;
  width: 240px;
  height: 280px;
  font-weight: 400;
  color: var(--cor-branco);
  line-height: 22px;
  text-align: center;
  padding: 8px;
  background-color: black;
}

.lista-nao-ordenada-metodologia-de-trabalho li::before {
  counter-increment: contador;
  content: counter(contador);
  position: absolute;
  top: -18px;
  left: -26px;
  width: 40px;
  height: 30px;
  padding-top: 8px;
  background-color: var(--cor-rosa-escuro);
  border-radius: 50%;
  z-index: 1;
}

.lista-nao-ordenada-metodologia-de-trabalho li::after {
  content: '';
  position: absolute;
  right: -50px;
  width: 60px;
  height: 10px;
  background-color: var(--cor-rosa-escuro);
  z-index: -1;
}

.lista-nao-ordenada-metodologia-de-trabalho.nao-exibir-after li::after {
  display: none;
}

.descricao-metodologia {
  text-align: center;
  padding: 8px; 
  font-size: 20px; 
}

.descricao-metodologia span {
  margin: 0 40px 28px;
}

.descricao-metodologia strong {
  line-height: 24px;
  color: var(--cor-rosa-escuro);
}

/* Whatsapp */

.whatsapp {
  position: fixed;
  bottom: 12px;
  right: 6px;
  width: 50px;
}

/* Seção rodapé */

.rodape-pagina {
  width: 100%;
}

.rodape-pagina span {
  padding: 10px;
  font-family: var(--font-family-droidserif), serif;
}